@import "tailwindcss";
 :root {
  --text: #6b6375;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  letter-spacing: 0.18px;
  color-scheme: light gray;
  color: var(--text);
 
}



#root {
  width: 1126px;
  max-width: 100%;
  /* max-width: 6xl; */
  margin: 0 auto;
  min-height: 100svh;
 
} 


code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #83aaee;
    --text-h: #336ee6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}
h1 {
  letter-spacing: -1.68px;
  @media (max-width: 1024px) {
   
  }
}
h2 {
   font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}